<div class="chat transition" [ngClass]="{'show': showChat}">
    <button mat-raised-button (click)="showChat = !showChat" class="chat-icon mat-elevation-z0">
        <mat-icon>chat</mat-icon>
    </button>
    <mat-card fxLayout="column" fxLayoutAlign="space-between start">
        <h4>CUSTOMER CHAT LOG</h4>
        <div class="chatlog">
            <fieldset><legend>Customer Service</legend>How can I help you today?</fieldset>
            <fieldset class="customer"><legend>John Doe</legend>I don't know how to configure this product.</fieldset>
            <fieldset><legend>Customer Service</legend>I see you are on Quickie 2 product page.  Is this the product you need help with?</fieldset>
            <fieldset class="customer"><legend>John Doe</legend>yes</fieldset>
            <fieldset><legend>Customer Service</legend>You can walk through the steps.  Please click on the bottom to allow me to see the contents of the page as you configure your new Quickie 2.</fieldset>
        </div>
        <textarea name="chatlog" id="chatlog" placeholder="Start chat here."></textarea>
        <button mat-stroked-button style="float: right;">Send</button>
    </mat-card>
</div>
